{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="card text-white bg-primary mb-3 container d-flex align-items-center" style="max-width: 30rem; margin-top: 30%;">
{% if object %}
  <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
  <h1>Add Bucket</h1>
{% endif %}
<!-- HTML forms will post back to the same
     URL that's in the address bar if the 
     action attribute is empty
-->
<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  {% if object %}
  <button type="submit" class="btn btn-primary btn-lg">Update Bucket</button>
  {% else %}
    <button type="submit" class="btn btn-primary btn-lg">Add Bucket</button>
  {% endif %}
</form>
</div>
</div>
{% endblock %}