{% extends 'base.html' %}
{% block content %}
{% load humanize %}

<section class="vh-100" style="background-color: #E0DDAA;">
  
  <div class="text-center pt-3">
    <h1>My Buckets</h1>
    <p class="lead text-muted">For more details, click a specific bucket</p>
<div class="d-flex flex-row bd-highlight justify-content-evenly flex-wrap mt-5">
  
  {% for bucket, stockCount, totalReturn in bucket_data %}
    
    <div class="d-flex col-3 justify-content-center mb-3">
        <div class="col-md-6">
            <div class="card p-3 mb-2 shadow">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="ms-2 c-details">
                          <a href="{% url 'bucket_detail' bucket.id %}">
                            <span class="card-title">{{ bucket.name }}</span>
                          </a>
                          <p>Date Created: {{ bucket.date|date:"SHORT_DATE_FORMAT" }}</p>
                          
                          <p># Stocks in Bucket:  {{ stockCount }}</p>
                          {% if totalReturn > 0 %}
                            <p class="text-success">Total Return:  {{ totalReturn }}%</p>
                          {% elif totalReturn < 0 %}
                            <p class="text-danger">Total Return:  {{ totalReturn }}%</p>
                          {% else %}
                          <p>Total Return:  {{ totalReturn }}%</p>
                          {% endif %}
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
   
{% endfor %}

</div>
</div>
</section>


{% endblock %}

bucket detail

<section class="vh-100" style="background-color: #E0DDAA;">

  <div class="container d-flex flex-row justify-content-around">
    <div class="col mt-5">
      <div class="row">
        <div class="card-content">
        <h3 class="card-title">Summary Statistics: {{ bucket.name }}</h3>
        <p>Date Created: {{ bucket.date|date:"SHORT_DATE_FORMAT" }}</p>

        {% if bucketReturn >= 0 %}
          <p>Total Bucket Return: <span class="text-success">{{ bucketReturn }}%</span></p>
        {% else %}
          <p>Total Bucket Return: <span class="text-danger">{{ bucketReturn }}%</span></p>
        {% endif %}

        <div class="card-action">
          <a href="{% url 'buckets_update' bucket.id %}">Edit Bucket</a>
          <a href="{% url 'buckets_delete' bucket.id %}">Delete Bucket</a>
        </div>
      </div>
    </div>

    <div class="row h-25">
    
    </div>

    <div class="row">
      <div class="card-content">
        <div class="card-content">
          <div class="card-title"><h3>Add a new stock to {{ bucket.name }}</h3></div>
        <form action="{% url 'stock_inst_create_bucket' bucket.id %}" method="POST">
        {% csrf_token %}
        {{ stock_form.as_p }}
      
        <button type="submit" class="btn btn-primary" value="Add Stock">Add Stock</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="col-6 d-flex w-75">
      <div class="card-action mt-5 ">
        <div class="text-center lead">
         {% if stocks %}
        <span class="w-75"><h3>Stocks currently in bucket</h3></span>
          {% else %}
          <span class="w-75"><h3>No stocks currently in bucket</h3></span>
          {% endif %}
      </div>
      <div class="container-md align-items-center justify-content-center ">
        <div class="row position-absolute h-50 w-25 overflow-auto d-flex flex-direction:column">
          {% for stock in stocks %}
          <div class="card-content h-auto mt-5">
            <p>Ticker: <b>{{ stock.stock.ticker }}</b></p>
            <p>Most Recent Closing Price: ${{ stock.stock.mr_close|intcomma }}</p>
            <p>Price When Tracked: ${{ stock.price|intcomma }}</p>
        
        
        
            {% if stock.stock.mr_close|percChange:stock.price >= 0 %}
            <p>Total Return: <span class="text-success">{{ stock.stock.mr_close|percChange:stock.price }}%</span></p>
            {% else %}
            <p>Total Return: <span class="text-danger">{{ stock.stock.mr_close|percChange:stock.price }}%</span></p>
        
            {% endif %}
            
            <a href="{% url 'stock_inst_delete' stock.id %}">Delete from bucket</a>
          </div>
    
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</section>
{% endblock %}
