{% extends 'base.html' %}
{% block content %}
{% load template_filters %}
{% load humanize %}

<h1>Bucket Details</h1>

<div class="container-lg">
  <div class="row">
    <div class="col s6 col-offset-3">
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">Bucket Name: {{ bucket.name }}</h3>
          <p>Date Created: {{ bucket.date }}</p>

          {% if bucketReturn >= 0 %}
            <p>Total Bucket Return: <span class="text-success">{{ bucketReturn }}%</span></p>
          {% else %}
            <p>Total Bucket Return: <span class="text-danger">{{ bucketReturn }}%</span></p>
          {% endif %}

          <div class="card-action">
            <a href="{% url 'buckets_update' bucket.id %}">Edit Bucket</a>
            <a href="{% url 'buckets_delete' bucket.id %}">Delete Bucket</a>
          </div>

        </div>
        <div class="card-action">
          {% for stock in stocks %}
          <div class="card">
            <p>Ticker: {{ stock.stock.ticker }}</p>
            <p>Most Recent Closing Price: ${{ stock.stock.mr_close|intcomma }}</p>
            <p>Price When Tracked: ${{ stock.price|intcomma }}</p>

            {% if stock.stock.mr_close|percChange:stock.price >= 0 %}
            <p>Total Return: <span class="text-success">{{ stock.stock.mr_close|percChange:stock.price }}%</span></p>
            {% else %}
            <p>Total Return: <span class="text-danger">{{ stock.stock.mr_close|percChange:stock.price }}%</span></p>

            {% endif %}

          </div>
          {% endfor %}


          <!-- DOES NOT HAVE PROPER ACTION FIELD YET -->
          <!-- <div class="card">
            <form action="" method="POST">
              {% csrf_token %}
              {{ stock_form.as_p }}
              <input type="submit" class="btn"  value="Add Stock">
            </form>
          </div> -->


        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}