{% extends 'base.html' %}
{% block content %}

<h1>Log In</h1>


<div class="container">
    <div class="row">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <label class="form-label text-secondary col-2" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field }}
        {% endfor %}
    </form>
    </div>
</div>




<br><br><br>
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
</form>


{% endblock %}