{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}

<section class="vh-100" style="background-color: #E0DDAA;">
  <div class="container h-100 flex-column d-flex justify-content-around align-items-center">
    <div class="col d-flex align-items-center">
      <div class="row">
        <div class="col">
          <div class="card-content">
            {% if stock_logo %}
              <img src="{{ stock_logo }}" class="bg-secondary rounded shadow-3" alt="" height=100 width=100>
            {% else %}
              <h6>{{ message }}</h6>
            {% endif %}
            <div class="card-content mt-2"><b>Ticker: {{ stock.ticker }}</b></div>
          </div>
        </div>
      </div>
      <div class="col-3">
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card-content d-flex flex-column w-100">
            <span class="mt-4">Most Recent Close ($): {{ stock.mr_close|intcomma }}</span>
            <span class="mt-2">Most Recent Trading Volume (# of Shares): {{ stock.mr_volume|intcomma }}</span>
            <span class="mt-2">Volume Weight Average Price (VWAP) (%): {{ stock.mr_vol_weighted|intcomma }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col ">
      {% if buckets %}
      <div class="card-content d-flex justify-content-center">
        <form action="{% url 'stock_inst_create' stock.id %}" method="POST">
        {% csrf_token %}
        {{ stock_form.as_p }}
        
        <button type="submit" class="btn btn-secondary btn-md">Add Stock</button>
        {% else %}
          <span><b>Create Your First Bucket</b></span>
          <div class="d-flex justify-content-center mt-3">
            <a href="/buckets/create/" class="btn btn-primary">Create Bucket</a>
          </div>
       {% endif %}
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}

