{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="vh-100" style="background-color: #E0DDAA;">
  <div class="container h-100 d-flex flex-column justify-content-around">
    <div class="card w-25 h-25 d-flex justify-content-around align-items-center rounded shadow">
      {% if stock_logo %}
        <img src="{{ stock_logo }}" alt="" height=60% width=60%>
      {% else %}
        <h4>{{ message }}</h4>
      {% endif %}
      <div class>Ticker: {{ stock.ticker }}</div>
    </div>
      <div class="grid">
        <div class>Most Recent Close ($): {{ stock.mr_close }}</div>
        <div class>Most Recent Trading Volume (# of Shares): {{ stock.mr_volume }}</div>
      </div>
      <div class="card">
        
        
        {% if buckets %}
        <form action="{% url 'stock_inst_create' stock.id %}" method="POST">
          {% csrf_token %}
          {{ stock_form.as_p }}
          
          <input type="submit" class="btn"  value="Add Stock">
        </form>
        {% else %}
        <div class="card">
  
          <div class="card-content">
          <a href="{% url 'buckets_create' %}">
            <h5>Click here to create your first bucket</h5>
          </a>
        </div>  
        </div>
        {% endif %}
      </div>
  </div>
</section>



{% endblock %}