{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}


<section class="vh-100" style="background-color: #E0DDAA;">
  <div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="container-md col-4 h-50 d-flex shadow align-items-center justify-content-between bg-secondary rounded">
      <div class="card h-50 w-50 d-flex justify-content-center align-items-center">
        <img src="https://universal.hellopublic.com/companyLogos/AAPL@2x.png?v=848aac26-1e36-4454-8b32-9369ad8d94af" alt="" height=55 width=55>
        <div class="card shadow bg-success mt-2">Ticker: {{ stock.ticker }}</div>
      </div>
      <div class="container shadow bg-info">
        <div class>Most Recent Close ($): {{ stock.mr_close|intcomma }}</div>
        <div class>Most Recent Trading Volume (# of Shares): {{ stock.mr_volume|intcomma }}</div>
      </div>
    </div>
    <div class="card h-50 col-4 align-items-center justify-content-center bg-secondary">
      <form action="{% url 'stock_inst_create' stock.id %}" method="POST">
        {% csrf_token %}
        {{ stock_form.as_p }}
        
        <input type="submit" class="btn"  value="Add Stock">
      </form>
    </div>
  </div>
</section>


{% endblock %}